<h1>Welcome!</h1>

<% if user_signed_in? %>
  <% if @posts.any? %>
    <ul>
    <% @posts.each do |post| %>
      <li>
        <%= post.title %> Posted by <%= post.author %>
        <%= link_to 'Read on Reddit', "http://www.reddit.com" + post.permalink %>
        <%= link_to 'Read Original', post.articleUrl %>
      </li>
    <% end %>
    </ul>
  <% else %>
    No posts found! Something is probably wrong...
  <% end %>
<% else %>
  You're not signed in! :( <%= link_to 'Sign in', new_user_session_path %>
<% end %>
